version: "3.8"

volumes:
  mysql-data:
  web-sql:

networks:
  demo:
    name: demo
    driver: bridge

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    networks:
      - demo
    environment:
      MYSQL_DATABASE: newdb
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    #ports:
    #  - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - web-sql:/docker-entrypoint-initdb.d/


  WebApplication:
    image: stefan7/testweb:latest
    container_name: web
    restart: on-failure
    networks:
      - demo
    depends_on:
      - mysql
    volumes:
      - web-sql:/app/sql
    environment:
      DATABASE_USERNAME: demo
      DATABASE_PASSWORD: root
      DATABASE_HOST: mysql
      DATABASE_SCHEMA: newdb
    expose:
      - "80"
    ports:
      - "4200:80"
  