version: "3.8"

volumes:
  mysql-data:
  #web-sql:

networks:
  demo:
    name: demo
    driver: bridge

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    networks:
      - demo
    environment:
      MYSQL_DATABASE: "newdb"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "root"
      MYSQL_ROOT_PASSWORD: "root"
    volumes:
      - mysql-data:/var/lib/mysql:rw

  WebApplication:
    image: web
    container_name: web
    restart: on-failure
    networks:
      - demo
    depends_on:
      - mysql
    environment:
      DATABASE_USERNAME: "root"
      DATABASE_PASSWORD: "root"
      DATABASE_HOST: "mysql"
      DATABASE_SCHEMA: "newdb"  
      PORT: "8080" 
    ports:
      - "8080:8080"

  WebApplicationFrontend:
    image: stefan7/testwebfront:latest
    container_name: web-front
    restart: on-failure
    networks:
      - demo
    ports:
      - "4200:4200"
    links:
      - WebApplication

  PhIntegration:
    image: ph
    container_name: ph_adapters
    restart: on-failure
    networks: 
      - demo
    ports: 
      - "8081:8080"
    depends_on: 
      - mysql
    environment:
      DATABASE_USERNAME: "root"
      DATABASE_PASSWORD: "root"
      DATABASE_HOST: "mysql"
      DATABASE_SCHEMA: "newdb"   